*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container{
    border: 1px solid red;
}

.home-header-sec{
    background-color: #fff;
    padding: 15px 80px;
}


.col-6, .col-5, .col-4, .col-3, .col-2{
    border: 1px solid red;
}

.button-web{
    padding: 21px 0;
} */


body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } 

  .five-cards-arrow-next,
  .five-cards-arrow-prev {
    color: #000;
    bottom: 10px;
    top: auto;
    transform: translateY(50%);
  }

  .five-cards-arrow-next {
    right: 10px;
  }

  .five-cards-arrow-prev {
    left: 10px;
  }