* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Font family */
@font-face{
  font-family: 'Source Sans Pro';
  src: url(./font-family/source-sans-pro/SourceSansPro-Regular.ttf);
}

@font-face{
  font-family: 'Source Serif Pro';
  src: url(../font-family/source-serif-pro/SourceSerifPro-Bold.ttf);
}

/* GLOBAL CSS START
====================*/

:root {

  /* Global colors  */
  --Dark_brown: #5D3E31;
  --Disabled_brown: #A39088;
  --Sec_brown: #7D5C4E;
  /*paragraph text color*/
  --Grey800: #49454F;
  --Grey600: #656363;
  --Grey400: #666666;
  --Grey200: #1D1B20;
  --Grey100: #F0F0F0;
  --NeroWhite: #ffffff;

  /* Border colors  */
  --Rose-Fog: #E1BFB0;
  --Light_Rose_Fog: #E1BFB0;
  --Light_Rose_Fog: #E1BFB0;


  /* font-weight */
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 400;
  --bold: 700;
  --extra-bold: 800;

  /* heading font class and color */
  --h1-font-size: 56px;
  --h1-line-height: 70px;
  --all-headings-font-size: 48px;
  --all-headings-line-height: 60px;
  --heading-color: #352B26;
  /* background color */
  --cont-bg-sec-color: #FDF8F7;
  --black: #000000;



  /* 24px font size */
  --XLarge-400-fs: 24px;
  --XLarge-400-lh: 30px;
  --XLarge-400-ls: 0.48px;

    /* 20px font size */
  --Large-400-fs: 20px;
  --Large-400-lh: 25px;
  --Large-400-ls: 0.4px;

  /* 18px font size */
  --Medium-400-fs: 18px;
  --Medium-400-lh: 22.5px;
  --Medium-400-ls: .36px;


}

/* headings */
.h-h-para-head .h1-heading {
  font-size: var(--h1-font-size);
  font-weight: var(--bold);
  line-height: var(--h1-line-height);
  color: var(--heading-color);
  font-family: 'Source Serif Pro',serif;
}

.all-headings{
  font-size: var(--all-headings-font-size);
  font-weight: var(--bold);
  line-height: var(--all-headings-line-height);
  color: var(--heading-color);
  font-family: 'Source Serif Pro',serif;
}

/* paragraph 24px */
.h-h-para-head .xlarge-p {
  font-size: var(--XLarge-400-fs);
  font-weight: var(--regular);
  line-height: var(--XLarge-400-lh);
  letter-spacing: var(--XLarge-400-ls);
  color: var(--Sec_brown);
  font-family: 'Source Sans Pro', sans-serif;
}

/* paragraph 18px */
.medium-400 {
  font-size: var(--Medium-400-fs);
  font-weight: var(--regular);
  line-height: var(--Medium-400-lh);
  letter-spacing: var(--Medium-400-ls);
  color: var(--Sec_brown);
  font-family: 'Source Sans Pro', sans-serif;
}

/* GLOBAL CSS END
===================*/

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;

}

.main-container .xl-width {
  width: 1280px;
}



/* buttons design */
.xl-button{
  width: auto;
  height: auto;
  padding: 48px 0;
  display: flex;
  justify-content: start;
  align-items: center;
}
.xl-button a{
  padding: 21.5px 138.5px;
  width: 432px;
  background: linear-gradient(90deg, #5D3E31 0%, #704B3B 24%, #855946 50%, #7D5C4E 100%);
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  font-family: 'Source Sans Pro',sans-serif;
}


/* Header section
================== */
.home-header-section{
  background-color: var(--NeroWhite);
}

.home-h-inner-sec{
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-h-para-head{
  width: 80%;
}

.h-h-para-head .header-heading{
  margin-bottom: 24px;
}


/* three icons */
.h-header-icon-text-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.h-header-icon-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  white-space: nowrap;
  row-gap: 10px;
}

/* .h-header-icon-text .h-icon-t{
   
} */

/* How it works ?
=================== */
.how-it-works-sec{
  background-color: var(--cont-bg-sec-color);
}

.how-it-works-inner-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 64px;
}

.how-it-works-cards-cnt{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
}

.h-it-w-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h-it-w-card-details .h-w-c-num{
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}

.h-it-w-card-details{
 position: relative;
 background-color: var(--NeroWhite);
 padding: 40px 12.5px 24px;
 border-radius: 30px;
 display: flex;
 justify-content: start;
 align-items: center;
 flex-direction: column;
 height: 334px;
 margin-top: -40px;
 box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.h-w-c-title .h-w-c-title-text{
  color: var(--heading-color);
  font-size: 28px;
  line-height: 35px;
  font-weight: var(--semi-bold);
  padding-bottom: 12px;
  font-family: 'Source Sans Pro',sans-serif;
}

.h-w-c-paragraph .h-w-c-inner-para{
  margin-bottom: 20px;
}


/* Our Customers love us ! section 
================================== */

.our-customer-love-inner-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 64px;
}

.our-cus-three-icon-text{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.our-cus-love-p-sec{
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-cus-love-p{
  width: 60%;
  text-align: center;
}

.our-cus-icon-text{
  text-align: center;
}


/* Tail-waggingly delicious: Our dog food recipe section  */
.tail-waggingly-sec{
  background-color: var(--cont-bg-sec-color);
}

.tail-waggingly-inner-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 64px;
}

.tail-wa-three-cards{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tail-wagingly-card{
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tail-w-ca-det{
   padding: 13px 20px 0 ;
}

.tail-w-c-det-text{
  text-align: center;
}

.tail-w-ca-title p{
  font-size: 36px;
  font-weight: var(--bold);
  line-height: var(--all-headings-line-height);
  color: var(--heading-color);
  font-family: 'Source Serif Pro',serif;
}




