* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Font family */
/* Source Serif 4 */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@font-face{
  font-family: 'Source Sans Pro';
  src: url(./font-family/source-sans-pro/SourceSansPro-Regular.ttf);
}

@font-face{
  font-family: 'Source Serif Pro';
  src: url(../font-family/source-serif-pro/SourceSerifPro-Bold.ttf);
}

/* GLOBAL CSS START
====================*/

:root {

  /* Global colors  */
  --Dark_brown: #5D3E31;
  --Disabled_brown: #A39088;
  --Sec_brown: #7D5C4E;
  /*paragraph text color*/
  --Grey800: #49454F;
  --Grey600: #656363;
  --Grey400: #666666;
  --Grey200: #1D1B20;
  --Grey100: #F0F0F0;
  --NeroWhite: #ffffff;

  /* Border colors  */
  --Rose-Fog: #E1BFB0;
  --Light_Rose_Fog: #E1BFB0;
  --Light_Rose_Fog: #E1BFB0;


  /* font-weight */
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 400;
  --bold: 700;
  --extra-bold: 800;

  /* heading font class and color */
  --h1-font-size: 56px;
  --h1-line-height: 70px;
  --all-headings-font-size: 48px;
  --all-headings-line-height: 60px;
  --heading-color: #352B26;
  /* background color */
  --cont-bg-sec-color: #FDF8F7;
  --black: #000000;


  /* 36px font size */
  --medium-heading-fs: 36px;

  

  /* 24px font size */
  --XLarge-400-fs: 24px;
  --XLarge-400-lh: 30px;
  --XLarge-400-ls: 0.48px;

    /* 20px font size */
  --Large-400-fs: 20px;
  --Large-400-lh: 25px;
  --Large-400-ls: 0.4px;

  /* 18px font size */
  --Medium-400-fs: 18px;
  --Medium-400-lh: 22.5px;
  --Medium-400-ls: .36px;

  /* Large icon text font-size 28px */
  --XXLarge-400-fs: 28px; 
  --XXLarge-400-lh: 35px;
  /* --Grey600: #656363; */

  /* Large icon text font-size 16px */
  --lg-icon-text-fs: 16px; 
  --lg-icon-text-lh: 20px;
  --lg-icon-text-ls: .32px;

  --XSmall-400-fs: 14px;
  --XSmall-400-lh: 19px;
}


/* headings */
.h1-heading {
  font-size: var(--h1-font-size);
  font-weight: var(--bold);
  line-height: var(--h1-line-height);
  color: var(--heading-color);
  font-family: 'Source Serif Pro',serif;
}

.all-headings{
  font-size: var(--all-headings-font-size);
  font-weight: var(--bold);
  line-height: var(--all-headings-line-height);
  color: var(--heading-color);
  font-family: 'Source Serif Pro',serif;
}

/* paragraph 24px 700 */
.XLarge-800 {
  font-size: var(--XLarge-400-fs);
  font-weight: var(--bold);
  line-height: var(--XLarge-400-lh);
  letter-spacing: var(--XLarge-400-ls);
  color: var(--Sec_brown);
  font-family: 'Source Sans Pro', sans-serif;
}


/* paragraph 24px 400 XLarge-400*/
.xlarge-p {
  font-size: var(--XLarge-400-fs);
  font-weight: var(--regular);
  line-height: var(--XLarge-400-lh);
  letter-spacing: var(--XLarge-400-ls);
  color: var(--Sec_brown);
  font-family: 'Source Sans Pro', sans-serif;
}


/* 20px font size color:#7D5C4E*/
.large-400-p{
  font-size: var(--Large-400-fs);
  line-height: var(--Large-400-lh);
  letter-spacing: var(--Large-400-ls);
  font-weight: var(--regular);
  color: var(--Sec_brown);
  font-family: 'Source Sans Pro', sans-serif;
}

/* 20px font size color:#7D5C4E*/
.large-400-black{
  font-size: var(--Large-400-fs);
  line-height: var(--Large-400-lh);
  letter-spacing: var(--Large-400-ls);
  font-weight: var(--regular);
  color: var(--black);
  font-family: 'Source Sans Pro', sans-serif;
}


/* paragraph 18px color:#7D5C4E*/
.medium-400 {
  font-size: var(--Medium-400-fs);
  font-weight: var(--regular);
  line-height: var(--Medium-400-lh);
  letter-spacing: var(--Medium-400-ls);
  color: var(--Sec_brown);
  font-family: 'Source Sans Pro', sans-serif;
}

/* Font size 16px color #7D5C4E */
.Small-800-b{
  font-size: var(--lg-icon-text-fs);
  line-height: var(--lg-icon-text-lh);
  letter-spacing: var(--lg-icon-text-ls);
  font-weight: var(--bold);
  color: var(--black);
  text-decoration: none;
}

/* Font size 16px color #7D5C4E */
.Small-600{
  font-size: var(--lg-icon-text-fs);
  font-weight: var(--semi-bold);
  letter-spacing: var(--lg-icon-text-ls);
  color: var(--Sec_brown);
  line-height: var(--lg-icon-text-lh);
  text-decoration: none;
} 

/* Font size 16px color #49454F */
.small-400{
  font-size: var(--lg-icon-text-fs);
  font-weight: var(--regular);
  letter-spacing: var(--lg-icon-text-ls);
  color: var(--Grey800);
  line-height: var(--lg-icon-text-lh);
  text-decoration: none;
}

/* Font size 14px color #49454F */
.XSmall-400{
  font-size: var(--XSmall-400-fs);
  line-height: var(--XSmall-400-lh);
  font-weight: var(--regular);
  color: var(--Grey800);
  text-decoration: none;
}

/* Font size 14px color #7D5C4E */
.XSmall-400-2{
  font-size: var(--XSmall-400-fs);
  line-height: var(--XSmall-400-lh);
  font-weight: var(--regular);
  color: var(--Sec_brown);
  text-decoration: none;
}


/* XXLarge-600 28px extra bold color:#000000*/
.XXLarge-800{
  font-size: var(--XXLarge-400-fs);
  line-height: var(--XXLarge-400-lh);
  font-weight: var(--bold);
  color: var(--black);
  font-family: 'Source Sans Pro', sans-serif;
}

/* XXLarge-600 semi-bold 28px  color:#656363*/
.XXLarge-600{
  font-size: var(--XXLarge-400-fs);
  line-height: var(--XXLarge-400-lh);
  font-weight: var(--semi-bold);
  color: var(--Grey600);
  font-family: 'Source Sans Pro', sans-serif;
}

/* Larger icon text 16px */
.lg-icon-text{
  font-size: var(--lg-icon-text-fs);
  line-height: var(--lg-icon-text-lh);
  font-weight: var(--semi-bold);
  letter-spacing: var(--lg-icon-text-ls);
  color: var(--Grey600);
  font-family: 'Source Sans Pro', sans-serif;
}


/* GLOBAL CSS END
===================*/

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;

}

.main-container .xl-width {
  width: 1280px;
}



/* buttons design */

.xl-button{
  width: auto;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
}
.xl-button a{
  padding: 21.5px 138.5px;
  width: 432px;
  background: linear-gradient(90deg, #5D3E31 0%, #704B3B 24%, #855946 50%, #7D5C4E 100%);
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  font-family: 'Source Sans Pro',sans-serif;
}


/* Header section
================== */
.home-header-section{
  background-color: var(--NeroWhite);
}

.home-h-inner-sec{
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-h-para-head{
  width: 80%;
}

.h-h-para-head .header-heading{
  margin-bottom: 24px;
}

.ho-h-try-o-s-btn{
  padding: 48px 0;
}


/* three icons */
.h-header-icon-text-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.h-header-icon-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  white-space: nowrap;
  row-gap: 10px;
}

/* .h-header-icon-text .h-icon-t{
   
} */

/* How it works ?
=================== */
.how-it-works-sec{
  background-color: var(--cont-bg-sec-color);
}

.how-it-works-inner-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 64px;
}

.how-it-works-cards-cnt{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
}

.h-it-w-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h-it-w-card-details .h-w-c-num{
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}

.h-it-w-card-details{
 position: relative;
 background-color: var(--NeroWhite);
 padding: 40px 12.5px 24px;
 border-radius: 30px;
 display: flex;
 justify-content: start;
 align-items: center;
 flex-direction: column;
 height: 334px;
 margin-top: -40px;
 box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.h-w-c-title .h-w-c-title-text{
  color: var(--heading-color);
  font-size: 28px;
  line-height: 35px;
  font-weight: var(--semi-bold);
  padding-bottom: 12px;
  font-family: 'Source Sans Pro',sans-serif;
}

.h-w-c-paragraph .h-w-c-inner-para{
  margin-bottom: 20px;
}


/* Our Customers love us ! section 
================================== */

.our-customer-love-inner-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 64px;
}

.our-cus-three-icon-text{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.our-cus-love-p-sec{
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-cus-love-p{
  width: 60%;
  text-align: center;
}

.our-cus-icon-text{
  text-align: center;
}


/* Tail-waggingly delicious: Our dog food recipe section  */
.tail-waggingly-sec{
  background-color: var(--cont-bg-sec-color);
}

.tail-waggingly-inner-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 64px;
}

.tail-wa-three-cards{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tail-wagingly-card{
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tail-w-ca-det{
   padding: 13px 20px 0 ;
}

.tail-w-c-det-text{
  text-align: center;
}

.medium-heading-fs{
  font-size: var(--medium-heading-fs);
  font-weight: var(--bold);
  line-height: var(--all-headings-line-height);
  color: var(--heading-color);
  font-family: "Source Serif 4", serif;
}

/* Give our Starter Pack a go ! section  */
.starter-pack-inner-sec{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 64px;
}

.starter-pack-details{
  width: 85%;
}

.starter-pack-details .starter-p-det-text{
  text-align: center;
}

.starter-pack-details .starter-p-det-text-block{
  display: block;
}

.starter-pack-product-chart-sec{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding-top: 12px;
}

.starter-pack-chart{
  width: 432px;
  row-gap: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.st-pack-ch-title{
  width: 100%;
}

.st-pack-ch-title ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.st-pack-ch-title ul li{
  font-size: var(--Medium-400-fs);
  font-weight: var(--bold);
  line-height: var(--Medium-400-lh);
  letter-spacing: var(--Medium-400-ls);
  color: var(--Sec_brown);
  font-family: 'Source Sans Pro', sans-serif;
}

.st-p-ch-details .st-p-ch-det-text{
   text-align: center;
}

.w-choose-us-sec{
  background-color: var(--cont-bg-sec-color);
  background-image: url(../bff-images/h-bg-image.png);
   background-repeat: no-repeat;
   background-position: center;
}

.w-choose-us-sec .w-ch-inner-sec{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   row-gap: 64px;
}

.wh-ch-four-icont-text{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 48px; 
}

.wh-ch-icont-text{
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}


/* Footer section */
.footer-section{
  background-color: var(--Grey100);
}

.footer-inner-sec{
  padding: 0 40px;
}

.footer-det-three-sec{
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, .4); 
}

.footer-icon-text-two-sec{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
}

.footer-icon-text-first-sec{
  text-align: center;
}

.footer-logo-det-sec{
  text-align: center;
  gap: 100px;
}

.f-logo-sm-lg{
  margin-bottom: 67px;
}


.footer-useful-links-sec{
  padding-top: 14px;
}

.f-main-link{
  margin-bottom: 60px;  
}
 
.f-link-item{
  display: flex;
  flex-direction: column;
}

.f-main-link-item{
 padding-bottom: 16px;
} 

.policy-etc-link ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.policy-etc-link ul li{
  border-right: 1px solid var(--Grey800);
  padding: 0 10px;
}

.policy-etc-link ul li:last-child{
  border-right: none;
}


/* copy right sec */
.footer-copy-right-sec{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
}

.footer-facebook-insta-logo{
  width: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-ins-logo{
  text-decoration: none;
}
